<%
=begin%>
<div>comments/_comment.html.erb</div>
<%
=end%>

<div class="bg-light p-4 mb-3">
    <strong>
        <%= comment.commenter %></strong><br>




    <%= comment.body %>


    <p style="float:right;">
        <%= link_to 'Delete', [comment.article, comment],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
    </p><br>

</div>