// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


a {
    text-decoration: none!important;
    padding: 4px 10px;

    // color:black!important;
   
    background: rgb(255, 255, 255);
}

p.card-text.mb-auto a {
    color:black!important;
}
